/* color scheme used in application */
:root {
    --medium: #465AB8;
    --light: #6991E3;
    --dark: #261360;
    --dark-grey: #323D4F;
    --grey: #AEAEAE;
}

/* style for header */
.jumbotron {
  text-align: center;
  background: linear-gradient(to right, var(--medium), var(--dark));
  color: white;
  padding: 0.5rem;
  margin: 0rem;
  border-radius: 0rem;
}

input{
  width: 100%;
}

/* style for input field label */
label {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
}

h2 {
  margin: 0.5rem 0;
}

/* custom style for forecast cards */
.card-forecast{
  background-color: var(--dark-grey);
  color: white;
  
}

/* style for weather card */
.card-weather {
  border: black;
  border-style: solid;
  border-width: 0.3rem;
  margin: 2rem 0;
}

.btn {
  width: 100%;
  margin: 1rem 0;
}

.btn-primary {
  background-color: var(--medium);
  border-color: var(--medium);
}

#search-history {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* style for elements in search history */
.btn-city {
  color: black;
  background-color: var(--grey);
  border-color: var(--grey);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.btn-city:hover {
  cursor: pointer;
}

/* 769px — 1024px: Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  #dashboard {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }

  .card-deck .card {
    flex: 0 1 15rem;
    margin: 1rem;
  }
}

/* 481px — 768px: iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #widget {
    display: flex;
    flex-direction: column;
  }

  #nav {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  #dashboard {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }

  .card-deck .card {
    flex: 0 1 15rem;
    margin: 1rem;
  }
}


/* 320px — 480px: Mobile devices */
@media only screen and (max-width: 480px) {
  #widget {
    display: flex;
    flex-direction: column;
  }

  #nav,
  #dashboard {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}